<%= form_for(@quiz) do |f| %>
  <% if @quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
      <% @quiz.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="field">
    <%= f.label :location_type %><br>
    <%=f.select(:location_type, ["residential","commuter"])%>

  </div>
  <div class="field">
    <%= f.label :max_price %><br>
    <%= f.number_field :max_price %>
  </div>
  <div class="field">
    <%= f.label :ethnicity %><br>
    <%= f.select(:ethnicity, ["Under Represented Minority","other"])%>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.select(:gender, ["male","female"])%>
  </div>
  <!--<div class="field">-->
    <!--<%= f.label :environment %><br>-->
    <!--<%= f.text_field :environment %>-->
  <!--</div>-->

  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :interest %><br>
    <%= f.select(:interest, ["STEM","Humanities"])%>
  </div>
  <div class="field">
    <%= f.label :travel_type %><br>
    <%= f.select(:travel_type, ["urban","rural"])%>
  </div>
  <div class="field">
    <%= f.label :grade %><br>
    <%= f.select(:grade, ["9","10","11","12"])%>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
