<p id="notice"><%= notice %></p>

  <% @programs.each do |program| %>
 
  
  <div class="media">
    <div class="pull-left">
      <a href="#">
        <img class="media-object" src="http://www.cusdk12.org/nsite/wp-content/uploads/CalexicoHigh-150x150.png" alt="">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%=  program.name %></h4>
      <p><%= program.description %></p>
      <p><a href=<%= program.link %>> More information! </a></p>
    </div>
  </div>
  <% end %>
<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
