<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12" id="f">
<p id="notice"><%= notice %></p>
<div class = "container"> 
<div class = "row">
<div class = "col-xs-12 col-sm-12 col-md-12" id= "f" >
  


<h1>Programs</h1>

<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>Name</th>-->
<!--      <th>Description</th>-->
<!--      <th>Link</th>-->
<!--      <th>Price</th>-->
<!--      <th>Location type</th>-->
<!--      <th>City</th>-->
<!--      <th>State</th>-->
<!--      <th>Grade min</th>-->
<!--      <th>Grade max</th>-->
<!--      <th>Subject</th>-->
<!--      <th>Gender</th>-->
<!--      <th>Ethnicity</th>-->
<!--      <th>Begin date</th>-->
<!--      <th>End date</th>-->
<!--      <th>Travel</th>-->
<!--      <th>Age min</th>-->
<!--      <th>Age max</th>-->
<!--      <th colspan="3"></th>-->
<!--    </tr>-->
<!--  </thead>-->

  <tbody>
    <% @programs.each do |program| %>
         <a href=<%= program.link %>> <h4><%= program.name %> </h4></a>
      <div class="media">
        <div class="media-left">
            <a href=<%= program.link %>>
              <img class="media-object" src="https://i.ytimg.com/vi/hTeqBLsKdw8/hqdefault.jpg" alt="MIT">
          </a>
          </div>
    <div class="media-body">
      <h4 class="media-heading"></h4>
        <p> Location: <%= program.city %>, <%= program.state %> </p>
        <p> Price: <%= program.price %></p>
        <p> Description: <%= program.description %></p>
        <p> Type of City: <%= program.location_type %></p>
        <p> Dates: <%= program.begin_date %>, <%= program.end_date %> </p>
        <p> Field of Interest: <%= program.subject %> </p>
        <p> Commuter or Residential: <%= program.travel %> </p>
        <p> Grade level Range: <%= program.grade_min %> - <%= program.grade_max %> </p>
        
      </div>
    </div>
      
<!--      <tr>-->
<!--        <td><%= program.name %></td>-->
<!--        <td><%= program.description %></td>-->
<!--        <td><%= program.link %></td>-->
<!--        <td><%= program.price %></td>-->
<!--        <td><%= program.location_type %></td>-->
<!--        <td></td>-->
<!--        <td><%= program.state %></td>-->
<!--        <td><%= program.grade_min %></td>-->
<!--        <td><%= program.grade_max %></td>-->
<!--        <td><%= program.subject %></td>-->
<!--        <td><%= program.gender %></td>-->
<!--        <td><%= program.ethnicity %></td>-->
<!--        <td><%= program.begin_date %></td>-->
<!--        <td><%= program.end_date %></td>-->
<!--        <td><%= program.travel %></td>-->
<!--        <td><%= program.age_min %></td>-->
<!--        <td><%= program.age_max %></td>-->
<!--        <td><%= link_to 'Show', program %></td>-->
<!--        <td><%= link_to 'Edit', edit_program_path(program) %></td>-->
<!--        <td><%= link_to 'Destroy', program, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
<!--      </tr>-->
    <% end %>
<!--  </tbody>-->
<!--</table>-->

<br>

<<<<<<< HEAD
<!--<%= link_to 'New Program', new_program_path %>-->
</div>
</div>
=======
<%= link_to 'New Program', new_program_path %>
</div>
</div> 
>>>>>>> d13bbab5fa36f4785f32c3ce5643c52b79e2dc72
</div>
</body>
</html>